cvxpy==1.1.12
cycler==0.10.0
dill==0.3.3
ecos==2.0.7.post1
ffmpeg==1.4
kiwisolver==1.3.1
matplotlib==3.4.2
numpy==1.20.3
osqp==0.6.2.post0
Pillow==8.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
qdldl==0.1.5.post0
scipy==1.6.3
scs==2.1.3
six==1.16.0
